@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.main{
  display: block;
  justify-content: space-between;
}

.sdd{

  padding: 2px 5px 2px 5px;
  border-radius: 20px;
  border-color: black;
  border: 0.1rem;
  border: solid;
  max-height: fit-content;
}

.topbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background: #fff;
  border-bottom: 1px solid #000;
  justify-content: space-between;
}

.img-Table{
  height: auto;
  width: 6%;
  margin-right: 3%;
}

.-a{
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.segura{
  display: flex;
  padding: 0;
  width: fit-content;
  align-items: center;
}

.botaoEditar{
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  height: 10%;
  width: 15%;
  border-radius: 20px;
  color: #000;
  border: 0;
  font-size: 18px;
}

.botaoEditar:hover{
  background-color: #d9d9d9;
}

.botaoEditar:active{
  background-color: #b1b1b1;
}

td{
  background-color: #d9d9d9;
  font-family: 'Montserrat';
  padding: 1rem;
  border-radius: 10px;
  margin-right: 50%;
}

th{
  background-color: #d9d9d9;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 20% solid;
  font-family: 'Montserrat';
  padding: 1rem;
  border-radius: 10px;
  font-weight: 0;
}

tbody::before {
  content: "";
  display: block;
  height: 10px;
}

table{
  border-collapse: separate !important;
  border-spacing: 8px 8px !important;
}

.Barraemcima{
  display: flex;
  justify-content: space-between;
}