.segura{
  display: flex;
  padding: 4px;
  width: fit-content;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 3%;
  border: solid 1px;
  border-color: #a7a7a7;
}


.label{
    color: #fff;   
}

.topbar{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background: #fff;
    border-bottom: 1px solid #000;
}

a{
    font-weight: 700;
    font-size: 1.25rem;
    text-decoration: none;
    margin-right: 66%;
    font-family: "Montserrat", sans-serif;
}

.container{
    padding: 1.2rem;
    border-radius: 10px 0px 0px 10px;
    background-color: #fff;
    margin: 3% 0 0 3%;
}

.loteF{
    margin-top: 3%;
}

.sdd{
    margin-top: 3%;
    border: solid 1px;
    border-color: #a7a7a7;
    border-radius: 20px;
    padding: 4px;
}

.quant{
    margin-top: 3%;
    max-width: 30%;
}

.linha1{
    display: flex;
    justify-content: space-between;
    max-width: 50%;
}

.linha2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.linha3{
    display: flex;
    justify-content: space-between;
}

.linha4{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-top: 3%;
}

.linha5{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    min-width: 17%;
}
