@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.main{
  display: flex;
  justify-content: space-between;
}

.sdd{
  /* sim, eu não vou me preucupar em usar comandos de centralização tipo justify ou align 
  pq isso quase sempre não funciona e alem do mais essa ux só tem que ser funcional no pc da apresentação
  se algum dia eu for vender essa bomba, eu concerto */

  padding: 2px 5px 2px 5px;
  border-radius: 20px;
  border-color: black;
  border: 0.1rem;
  border: solid;
  max-height: fit-content;
}